.about-us{
    padding-top: 60px;
    padding-bottom: 60px;
}
.quality{

    &__item{
        width: 450px;
        }     

        &__item:not(:last-child){
                margin-bottom: 30px;
                }

                &__blok{
                        height: 120px;
                        display: flex;
                        background: #F5F4FA;
                        border-radius: 4px;
                        justify-content: center;
                        align-items: center;
                        }
}

.qualities{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $txt-dark;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 30px;

        &__description{
            font-weight: 400;
            font-size: 14px;
            line-height: 1.714;
            letter-spacing: 0.03em;
            color: $txt-grey;
            }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .quality{
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;

    &__item{
        width: 354px;
        }  
        
        &__item:not(:last-child){
            margin-bottom: 0;
            }

        &__item:nth-child(2n + 1) {
                margin-right: 30px;
                }

                &__item:nth-child(-n + 2) {
                    margin-bottom: 30px;
                  }

                  .quality{
                    &__blok{
                        margin-bottom: 0;
                    }
                  }
}
}

@media screen and (min-width: 1200px) {

    .about-us{
        padding-top: 94px;
        padding-bottom: 94px;
    }

        .quality{
            display: flex;
            justify-content: space-between;

            &__item:not(:last-child){
                margin-right: 30px;
                }

                &__item{
                    width: 270px;
                    }
}
}