.hero{
  background-size: cover;

    &__title{
      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $txt-white;
      padding: 118px 40px 30px;
    }

  &__position{
    display: flex;
    justify-content: center;
    padding-bottom: 118px;
  }

  &__button{
          text-align: center;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.875;
          letter-spacing: 0.06em;
          color: $txt-white;
          min-width: 200px;
          background-color: transparent;
          background: $fha-blue;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          padding: 10px 32px;
          cursor: pointer;
          outline: none;
          border-color: $fha-blue;
          }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .hero{
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ),
   url("../images/hero/hero-1x.jpg");
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 480px 400px;
  }
 }  

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width:320px) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (min-width:320px) and (max-width: 767px) {
.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ),
  url("../images/hero/hero-2x.jpg");
}
}  

@media screen and (min-width: 768px) and (max-width: 1199px){
  .hero{
        background: #2F303A;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ),
        url("../images/hero/hero_tablet-1x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        background-size: 768px 400px;
}
} 

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 192dpi) and(min-width:768px) and (max-width: 1199px),
screen and (min-resolution: 2dppx) and(min-width:768px) and (max-width: 1199px) {
.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ),
  url("../images/hero/hero_tablet-2x.jpg");   
}
}

@media screen and (min-width: 1200px) {

  .hero{
    background: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ),
    url("../images/hero/hero_desk-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;

    &__title{
      font-weight: 900;
      font-size: 44px;
      line-height: 1.363;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $txt-white;
      padding: 200px 252px 30px;
      }
    
      &__position{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
      }
      
      &__button{
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: $txt-white;
      min-width: 200px;
      background-color: transparent;
      background: $fha-blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 10px 32px;
      cursor: pointer;
      outline: none;
      border-color: $fha-blue;
      }
     }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and(min-width:1200px),
screen and (min-resolution: 2dppx) and(min-width:1200px) {
  .hero{
    background-size: 1600px 600px;
  background-repeat: no-repeat;
    }
 .hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ),
  url("../images/hero/hero_desk-2x.jpg");
}

.modal{
  position: absolute;
  width: 528px;
  height: 581px;
  left: 536px;
  top: 221px;
  color: rgba(255, 255, 255, 1);
  }
}