    /*background color*/
    $b-dark: #2F303A;

    /*text color*/
    $txt-dark: #212121;
    $txt-grey: #757575;
    $fha-blue: #2196F3;
    $txt-white: #FFFFFF;
    $icon: #AFB1B8;

    /*fonts*/
    $main-font: Roboto, sans-serif;
    $secondary-font: Raleway, sans-serif;
    
    $cubic: cubic-bezier(0.4, 0, 0.2, 1);
